{% extends 'base.html.twig' %}

{% block title %}Hello BottleController!
{% endblock %}

{% block body %}
	<div>
		<h1>Edit bouteille
			{{bottle.name}}
		</h1>
		{{form(BottleForm)}}
		</div>
	{% endblock %}
